<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Importing Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

      <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>
      <script>
        var clipboard = new ClipboardJS('.btn');

        clipboard.on('success', function (e) {
          console.info('Action:', e.action);
          console.info('Text:', e.text);
          console.info('Trigger:', e.trigger);

          e.clearSelection();
        });

        clipboard.on('error', function (e) {
          console.error('Action:', e.action);
          console.error('Trigger:', e.trigger);
        });
    </script>

    <meta charset="UTF-8">
    <title>Diceqube | Quantum Random Passwords</title>
  </head>
  <body class="bg-light d-flex justify-content-center align-items-center vh-100"> <!-- Added Bootstrap classes to style the body -->

    <!-- Using Bootstrap's responsive container for centering content on large screens -->
    <div class="container">
      <div class="row">
        <h1>Diceqube</h1>
      </div>
      <div class="row">
          <h4>The most secure passwords on the planet.</h4>
      </div>
      <br />
      <div class="row">
          <!-- Added Bootstrap classes to style the list and its items -->
          <ul class="list-group" id="passwordsList">
            {% for password in password_list %}
              <li class="list-group-item">{{ password }}
                <button class="btn" data-clipboard-text="{{ password }}">Copy</button> <!-- Added copy button --></li>
            {% endfor %}
          </ul>
      </div>
    </div>

  </body>
</html>
